
@model FirstNFTProject.Models.RegisterModel

<h2>Register/Sign In on OpenSea.io Beta</h2>


<div>
    <button class="enableEthereumButton btn">Login With MetaMask</button>

    <h2>Account <span class="showAccount"></span></h2>
    <hr />

</div>



@*<div>
    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Enter Wallet Address:</span>
        @Html.EditorFor(model => model.WalletAddress, new { htmlAttributes = new { @class = "form-control", @name = "WalletAddress", @placeholder = "Enter Wallet Address" } })
        @Html.ValidationMessageFor(model => model.WalletAddress, "", new { @class = "text-danger" })
        <hr />
        <input type="submit" value="Register" />
        <br />
        <span style="color:green">@TempData["Message"]</span>
    }
</div>*@


<script>


    //const ethereumButton = document.querySelector('.enableEthereumButton');




    const ethereumButton = document.querySelector('.enableEthereumButton');


    let accounts = [];



    ethereumButton.addEventListener('click', () => {
        getAccount();
    });

    const showAccount = document.querySelector('.showAccount');

    async function getAccount() {
        accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const account = accounts[0];
        showAccount.innerHTML = account;

         $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "@Url.Action("Register", "Accounts")", // Controller/View
                data: { //Passing data
                    WalletAddress: account,
                    
                },
                 success: function (response) {
                     location.href = "/nft/GetyourUploads";
                    //alert(response);
                }
            });

    }

</script>







