
@{
    ViewBag.Title = "CallRPC";
}

<h1>RPC</h1>

<h2>@ViewBag.Message</h2>

<button class="enableEthereumButton btn">Enable Ethereum</button>

<h2>Account: <span class="showAccount"></span></h2>
<hr />

<hr />
<button class="sendEthButton btn">Create NFT</button>







<script>

    
    //const ethereumButton = document.querySelector('.enableEthereumButton');
    



    const ethereumButton = document.querySelector('.enableEthereumButton');
    const sendEthButton = document.querySelector('.sendEthButton');

    let accounts = [];

    //Sending Ethereum to an address
    sendEthButton.addEventListener('click', () => {
        ethereum
            .request({
                method: 'eth_sendTransaction',
                params: [
                    {
                        from: accounts[0],
                        to: '0x7cf3d430042244bB1321F978354D3d9389765890', //Test Viz Account
                        value: '0x29a2241af62c0000',
                        gasPrice: '0x09184e72a000',
                        gas: '0x2710'
                        
                    },
                ],
            })
            .then((txHash) => console.log(txHash))
            .catch((error) => console.error);
    });

    ethereumButton.addEventListener('click', () => {
        getAccount();
    });

    const showAccount = document.querySelector('.showAccount');

    async function getAccount() {
        accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const account = accounts[0];
        showAccount.innerHTML = account;
    }

</script>


